{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
    <div class='posts wrapper'>
        {% for obj in posts.all %}
        <article class='post_item {{ obj.pk }}' onclick="location.href='{% url 'detail' obj.pk %}'">
            <ul class='item'>
                <li class='post_img'>
                    <img class='post square' src='{{ obj.img }}'>
                </li>
                <li class='post_title'>
                    <span>{{ obj.title }}</span>
                </li>
                <li class='post_date'>
                    <p>{{ obj.date }}</p>
                </li>
            </ul>
        </article>
        {% endfor %}
    </table>
{% endblock %}
</body>
</html>

