{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
    <table class='post_list'>
        <tr>
            <td colspan='1' class='post_id'>번호</td>
            <td colspan='4' class='post_title'>제목</td>
            <td colspan='2' class='post_date'>등록일</td>
        </tr>
        {% for obj in posts.all %}
        <tr class='item' onclick="location.href='{% url 'detail' obj.pk %}'">
            <td colspan='1' class='post_id'>
                <span>{{ obj.pk }}</span>
            </td>
            <td colspan='4' class='post_title'>
                <span>{{ obj.title }}</span>
            </td>
            <td colspan='2' class='post_date'>
                <p>{{ obj.date }}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</body>
</html>

